swagger: '2.0'
info:
  title: LINE WORKS Incoming Webhook
  description: >-
    This connector allows you to send messages to LINE WORKS chat rooms through
    the LINE WORKS Incoming Webhook app.
  version: '1.0'
host: webhook.worksmobile.com
basePath: /
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /message/{webhookId}:
    post:
      summary: LINE WORKS Incoming Webhook
      operationId: LWwebhook
      parameters:
        - name: webhookId
          in: path
          required: true
          type: string
          description: Enter the ID found at the end of the Webhook URL.
        - in: body
          name: body
          required: true
          schema:
            type: object
            properties:
              title:
                type: string
                description: >-
                  Message title. Optional. If not specified, webhook name will
                  be used.
              body:
                type: object
                required:
                  - text
                properties:
                  text:
                    type: string
                    description: Message text. Required.
              button:
                type: object
                required:
                  - label
                  - url
                properties:
                  label:
                    type: string
                    description: >-
                      Button label. Optional. To use the button, specify both
                      the label and URL.
                  url:
                    type: string
                    description: >-
                      Button URL. Optional. To use the button, specify both the
                      label and URL.
      responses:
        '200':
          description: success
        '400':
          description: BadRequest
        '429':
          description: Too Many Requests
        default:
          description: error occurred
definitions: {}
parameters: {}
responses: {}
securityDefinitions: {}
security: []
tags: []
